prefix=@PREFIX@
libdir=${prefix}/@LIBDIR@
includedir=${prefix}/include

Name: libbpf
Description: BPF library
Version: @VERSION@
Requires.private: libelf
Libs: -L${libdir} -lbpf
Cflags: -I${includedir}
